* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  
}

.calculator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  width: 24rem;
  margin: auto auto;


 
  border-radius: 5px;
}

/*.buttons {
  width: 21rem;
border: solid 1px red;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "porcentaje potencia raiz borrarUltimoDigito"
    "b7 b8 b9 dividir "
    "b4 b5 b6 multiplicar "
    "b1 b2 b3 restar "
    "b0 b0 punto sumar "
    "borrar positivoOnegativo igual igual ";
    grid-column-gap: 15px;
    grid-row-gap: 15px;

  margin-bottom: 0.5rem;
}*/

.buttons {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0.8em .8em;
  grid-auto-flow: row;
  grid-template-areas:
    "porcentaje potencia raiz borrarUltimoDigito"
    "b7 b8 b9 dividir"
    "b4 b5 b6 multiplicar"
    "b1 b2 b3 restar"
    "b0 b0 punto sumar"
    "borrar positivoOnegativo igual igual";
}

.porcentaje { grid-area: porcentaje; }

.potencia { grid-area: potencia; }

.raiz { grid-area: raiz; }

.borrarUltimoDigito { grid-area: borrarUltimoDigito; }

.b7 { grid-area: b7; }

.b8 { grid-area: b8; }

.b9 { grid-area: b9; }

.dividir { grid-area: dividir; }

.b4 { grid-area: b4; }

.b5 { grid-area: b5; }

.b6 { grid-area: b6; }

.multiplicar { grid-area: multiplicar; }

.b1 { grid-area: b1; }

.b2 { grid-area: b2; }

.b3 { grid-area: b3; }

.restar { grid-area: restar; }

.b0 { grid-area: b0; }

.punto { grid-area: punto; }

.sumar { grid-area: sumar; }

.borrar { grid-area: borrar; }

.positivoOnegativo { grid-area: positivoOnegativo; }

.igual { grid-area: igual; }






.b1 {

  border-radius: 50%;
  font-size: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
}
.b2 {

  border-radius: 50%;
  font-size: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
}
.b3 {

  border-radius: 50%;
  font-size: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
}
.b4 {

  border-radius: 50%;
  font-size: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
}
.b5 {

  border-radius: 50%;
  font-size: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
}
.b6 {

  border-radius: 50%;
  font-size: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
}
.b7 {

  border-radius: 50%;
  font-size: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
}
.b8 {
  
  border-radius: 50%;
  font-size: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
}
.b9 {

  border-radius: 50%;
  font-size: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
}
.b0 {

  width: 8rem;
  font-size: 2.5rem;
  border-radius: 15px;
  height: 3.5rem;
}
.borrarUltimoDigito {
 
  border-radius: 15px;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
}
.potencia {

  border-radius: 15px;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
}
.raiz {
  
  border-radius: 15px;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
}
.porcentaje {

  border-radius: 15px;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
}
.dividir {

  border-radius: 15px;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
}
.multiplicar {

  border-radius: 15px;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
}
.restar {

  border-radius: 15px;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
}
.sumar {

  border-radius: 15px;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
}
.borrar {
  
  border-radius: 15px;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
}
.igual {
 
  width: 8rem;
  border-radius: 15px;
  font-size: 2rem;
  height: 3.5rem;
  
 
}
.punto {

  border-radius: 50%;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
}

.positivoOnegativo {
  
  font-size: 1.3rem;
  border-radius: 15px;
  width: 3.5rem;
  height: 3.5rem;
}

#display2 {
  width: 19rem;
  height: 1.5rem;
  color: black;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: azure;
  margin-bottom: 10px;
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: right;
}

input {
  width: 19rem;
  height: 4rem;
  color: azure;
  border: none;
  outline: none;
  background-color: black;

  margin-bottom: 0.5rem;
  padding: 0.5rem;

  text-align: right;
}
.contenedorSpeaker {
  width: 2rem;
  height: 2rem;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;
  margin: 1rem auto 1rem;
}
.speaker {
  width: 1.5rem;
  border-radius: 50%;
}

.equal {
  background-color: #4c00ffd7;
  color: white;
}

.clear {
  background-color: #ff0000;
  color: white;
}

.borrarUltimoDigito {
  background-color: red;
  color: white;
}

/* ophone 7 plus 414px × 736px */



